/* .container {
    margin: 0 auto;
    width: 60%;
    height: 700px;
    background-color: gray;
    justify-content: center;
    align-items: center;
} */

.container {
    display: grid;
    grid-template-columns: 30% 35% 35%; /* Adjust column widths */
    height: 100vh; /* Occupy the full height of the viewport */
    padding: 0;
    margin: 0;
}

.left-col {
    background-color: rgb(187, 187, 203);
    height: 100%;
}

.center-col {
    /* background-color: #b4b0b0; */
    /* border: 2px solid black; */
    background-color: rgb(224, 224, 224); 
    padding: 2rem; 
    overflow-y: auto;
}

.right-col {
    background-color: rgb(224, 224, 224); 
    border-left: 2px solid rgb(187, 187, 203);
    /* background-color: rgba(228, 228, 234, 0.93); */
}
