.navbar {
    /* background-color: rgb(4, 66, 53); */
    height: 100%;
}

.navbar ul {
    list-style: none;
    padding: 20px;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.navbar li {
    margin-bottom: 1rem;
    width: auto;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover,
.navbar a:active,
.navbar a.active {
    color: rgb(54, 129, 186);
    padding-bottom: 0.25rem;
    /* border-bottom: 2px solid rgb(54, 129, 186); */
}
